.cache/
auto-save-list/
eln-cache/
elpa/
elpy/
eshell/
games/
multisession/
straight/
transient/
tree-sitter/
url/
var/
history
places
projects
recentf
*.elc
*.desktop
.lsp-session*
.mc-lists.*
forge-database.*
treemacs-persist
kkcrc
tramp