*.desktop
*.elc
.cache/
.lsp-session*
.mc-lists.*
auto-save-list/
eln-cache/
elpa/
elpy/
eshell/
forge-database.*
games/
history
kkcrc
multisession/
places
projects
recentf
sockets/
straight/
tramp
transient/
tree-sitter/
treemacs-persist
url/
var/